#logo{
    color: #fff;
    margin-bottom:0;
    text-align: center;
}
.pageWrap{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.wrap{
    max-width: 980px;
    margin:0 auto ;
}
.headerDivider{
    height: 44px;
    margin:10px 0;
    float: left;
}
#nav{
    float: left;
    background:none;
    border:none;
    line-height: 62px;
    margin-left:30px;
}
#nav a{
    color: #fff;
}
.ant-menu-item-selected a{
    color: #1890ff;
}
.xsNav{
    position:absolute;
    right: 0;
    top: 0;
    width:auto;
}

.main{
    flex: 1;
}
.main .wrap{
    border:1px solid #ccc;
    border-top:none;
    overflow: hidden;
}
.indexSider{
    border-right: 1px solid #ccc;
    padding-bottom: 9999px;
    margin-bottom: -9999px;
}

#indexMenu li{
    margin-right: -1px;
    transition: none;
    text-align: center;
    border-right:3px solid rgba(0,0,0,0);
}

#indexMenu li:hover,
#indexMenu .ant-menu-item-selected{
    background: #e6f7ff;
    border-right-color: #1890ff;
}
#indexXsMenu{
    display: flex;
}
#indexXsMenu li{
    flex:1;
    float: none;
    text-align: center;
}
.indexList{
    padding:0 10px;
}
.indexList  p{
    margin:0 ;
}
/* .indexList{
    border-left: 1px solid #ccc;
    min-height: 500px;
} */



/* 
@media all and (max-width:767px){

    #indexMenu{
        display: flex;
        border-bottom:1px solid #fff;
    }
    #indexMenu li{
        flex:1;
        margin:0 0 -1px 0;
        border:none;
        border-bottom: 3px solid rgb(0,0,0,0);
    }
    #indexMenu li:hover,
    #indexMenu .ant-menu-item-selected{
        background: none;
        border-bottom-color: #1890ff;
    }
    .indexList{
        border-left:none;
    }

} */